* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-image: url('download2.avif');
    background-size: cover; /* Cover the entire background */
    background-repeat: no-repeat;
    background-position: center; /* Center the background image */
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}


.app {
    background: white;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
    border: 2px solid #001e4d; 
    
}

.app h1 {
    font-size: 25px;
    color: #001e4d;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}

.quiz {
    padding: 20px 0;

}

.quiz h2 {
    font-size: 18px;
    color: #001e4d;
}

.btn {
    display: inline-block;
    margin-bottom: 10px ;
    font-weight: 500;
    width: 100%;
    padding: 15px 30px; /* Padding for top, right, and bottom */
    background-color: white;
    border: 2px solid #36454F;
    border-radius: 8px;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    transition-duration: 0.4s;
    position: relative; /* Added for absolute positioning */
}
.btn:hover:not([disabled]){
    background-color: black; /* Change background color on hover */
    color: whitesmoke;
}
.btn:disabled {
    cursor: no-drop;
}
#next-btn,
.exit-btn {
    background: #001e4d;
    padding: 0; /* Remove padding */
    border: none; /* Remove border */
    border-radius: 25px; /* Increase border-radius for rounded corners */
    color: whitesmoke;
    cursor: pointer;
    font-size: 16px; /* Adjust font size */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */
    width: 150px; /* Set a fixed width */
    height: 50px; /* Set a fixed height */
    display: flex; /* Use flexbox layout */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
}

#next-btn:hover {
    background-color: #4BAAC8; /* Change background color on hover */
    color: white; /* Change text color on hover */
}

.correct{
    background-color: #9aeabc;
}
.incorrect{
    background-color: #ff9393;
}

.exit-btn:hover {
    background-color: #4BAAC8; /* Change background color on hover */
    color: white; /* Change text color on hover */
}
